# systemd credential /etc/m-ranked/credentials/redis.acl
user default off
user mranked on >REPLACE_WITH_RANDOM_PASSWORD ~mranked:response:v1:* +get +set +del +mget +zadd +zcard +zpopmin +zrem +zremrangebyscore +zrangebyscore +eval +multi +exec +ping
