API_BASE_URL=http://127.0.0.1:8080
HOSTNAME=127.0.0.1
PORT=3000
NEXT_TELEMETRY_DISABLED=1
NEXT_PUBLIC_DATA_CACHE_TTL_MS=10000
NEXT_PUBLIC_DATA_CACHE_MAX_ENTRIES=128
NEXT_PUBLIC_DATA_CACHE_MAX_BYTES=16777216
