fastapi==0.116.1
uvicorn==0.35.0
Jinja2==3.1.6
Telethon==1.40.0
python-dotenv==1.1.1
pytest==8.4.1
httpx==0.28.1
beautifulsoup4==4.13.4
playwright==1.62.0
python-multipart==0.0.20
git+https://github.com/MaxApiTeam/PyMax.git@53103f0c8df32f36110cbe0bcbfc3ad82173808a#egg=maxapi-python
