[Unit]
Description=Prune old M-Ranked releases daily

[Timer]
OnCalendar=*-*-* 04:45:00 UTC
Persistent=true
RandomizedDelaySec=15min
AccuracySec=1min
Unit=m-ranked-target-host-storage-gc.service

[Install]
WantedBy=timers.target
