[Unit]
Description=Проверять живость сборщиков каждые десять минут

[Timer]
OnBootSec=10min
OnUnitActiveSec=10min
AccuracySec=1min
Persistent=true

[Install]
WantedBy=timers.target
